{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li>
                {#  url 'appname : detail' 是指在polls.urls模块定义的URL中寻找指定name的条目 #}
                {# 也就是跳转到urls.py,从那里找匹配question.id的url #}
                <a  href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}